#### 1. Importing libraries and datasets

In [9]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [10]:
# Import Airbnb listing dataset
path = r'C:\Users\

In [17]:
df_airbnb = pd.read_csv(os.path.join(path, 'Original Data', 'listings2021.csv'), index_col = False)

In [18]:
# check imported dataset
df_airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1944,bright & airy Pberg/Mitte 3 months or more,2164,Lulah,Mitte,Brunnenstr. Nord,52.54425,13.39749,Private room,20,60,18,2018-11-11,0.20,3,251
1,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ion,Mitte,Brunnenstr. Süd,52.53454,13.40256,Entire home/apt,59,5,135,2021-02-12,2.24,6,173
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.53500,13.41758,Entire home/apt,90,62,147,2021-01-01,1.03,1,348
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.49885,13.34906,Private room,29,7,27,2019-05-31,0.29,1,364
4,6883,Stylish East Side Loft in Center with AC & 2 b...,16149,Steffen,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.51171,13.45477,Entire home/apt,79,7,135,2021-01-23,1.00,1,0

In [19]:
df_airbnb.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19853,48597066,Rollstuhlgeeignete Wohnung für zwei in Hönow M...,392062170,Olaf,Marzahn - Hellersdorf,Hellersdorf-Nord,52.54192,13.60749,Entire home/apt,22,15,0,NaN,NaN,1,88
19854,48599795,Lichtdurchflutete Wohnung,392048619,Mohamed,Tempelhof - Schöneberg,Tempelhof,52.45901,13.41783,Entire home/apt,80,2,0,NaN,NaN,1,161
19855,48600069,Bright Twin Capacity 1 At Mitte,175128252,Team Gospodin,Mitte,Alexanderplatz,52.51105,13.40680,Private room,1840,1,0,NaN,NaN,1,274
19856,48602039,One Room Apartment,235188041,Pedram,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.49805,13.46587,Entire home/apt,25,7,0,NaN,NaN,1,19
19857,48615659,"Schönes, ruhiges Zimmer am Kufürstendamm",258728855,NaN,Charlottenburg-Wilm.,Düsseldorfer Straße,52.49407,13.32443,Private room,22,2,0,NaN,NaN,1,54

In [20]:
df_airbnb.shape

(19858, 16)

In [22]:
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19858 entries, 0 to 19857
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19858 non-null  int64
 1   name                            19826 non-null  object
 2   host_id                         19858 non-null  int64
 3   host_name                       18926 non-null  object
 4   neighbourhood_group             19858 non-null  object
 5   neighbourhood                   19858 non-null  object
 6   latitude                        19858 non-null  float64
 7   longitude                       19858 non-null  float64
 8   room_type                       19858 non-null  object
 9   price                           19858 non-null  int64
 10  minimum_nights                  19858 non-null  int64
 11  number_of_reviews               19858 non-null  int64
 12  last_review                     15753 non-null  object
 13  reviews_per_month               15753 non-null  float64
 14  calculated_host_listings_count  19858 non-null  int64
 15  availability_365                19858 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.4+ MB

In [24]:
df_airbnb.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [25]:
df_airbnb.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.985800e+04,1.985800e+04,19858.000000,19858.000000,19858.000000,19858.000000,19858.000000,15753.000000,19858.000000,19858.000000
mean,2.428805e+07,8.927153e+07,52.510227,13.404362,70.778930,8.604240,21.918622,0.674096,3.148454,94.663964
std,1.418866e+07,1.028498e+08,0.031944,0.062236,120.383995,30.954859,48.038176,1.131620,7.642956,131.877521
min,1.944000e+03,1.581000e+03,52.340410,13.098390,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.201695e+07,1.126449e+07,52.489850,13.367832,35.000000,2.000000,1.000000,0.090000,1.000000,0.000000
50%,2.319536e+07,4.251197e+07,52.509910,13.413860,50.000000,3.000000,4.000000,0.260000,1.000000,0.000000
75%,3.745479e+07,1.383302e+08,52.533090,13.438897,80.000000,5.000000,18.000000,0.770000,2.000000,178.000000
max,4.861566e+07,3.920622e+08,52.655980,13.757580,8000.000000,1124.000000,618.000000,45.000000,73.000000,365.000000

In [26]:
# checking data consistency for df_airbnb
df_airbnb.isnull().sum()

id                                   0
name                                32
host_id                              0
host_name                          932
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       4105
reviews_per_month                 4105
calculated_host_listings_count       0
availability_365                     0
dtype: int64

#### 2. Checking for 'NaN' and '0'

In [30]:
df_airbnb_nan1 = df_airbnb[df_airbnb['name'].isnull() == True]

In [31]:
df_airbnb_nan1

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
424,638001,NaN,2519598,Annamaria,Neukölln,Neuköllner Mitte/Zentrum,52.47963,13.42944,Entire home/apt,35,14,2,2014-03-31,0.02,1,0
1039,2015840,NaN,10367984,Matthieu,Neukölln,Reuterstraße,52.48421,13.43363,Entire home/apt,70,3,1,2016-01-05,0.02,1,0
1100,2129714,NaN,10851701,Lars,Mitte,Parkviertel,52.55548,13.34323,Entire home/apt,50,4,4,2015-09-09,0.05,1,0
1184,2364544,NaN,4920909,Timm,Friedrichshain-Kreuzberg,Frankfurter Allee Nord,52.51598,13.46528,Entire home/apt,50,7,0,NaN,NaN,1,0
2024,4675269,NaN,24182604,Rafael,Neukölln,Rixdorf,52.48559,13.45202,Private room,30,1,0,NaN,NaN,1,0
2120,4877492,NaN,19056175,Victoria,Neukölln,Reuterstraße,52.48424,13.43275,Private room,25,1,1,2015-01-02,0.01,1,0
2389,5757230,NaN,359011,Christine,Mitte,Alexanderplatz,52.51173,13.41805,Entire home/apt,70,1,0,NaN,NaN,1,0
2422,5830810,NaN,21437927,Valeria,Neukölln,Rixdorf,52.47149,13.44416,Private room,50,1,0,NaN,NaN,3,0
2802,6857609,NaN,35936948,Nadine,Pankow,Prenzlauer Berg Ost,52.53452,13.43639,Entire home/apt,50,2,3,2015-09-29,0.04,1,0
2887,7088914,NaN,37155772,Alejandro,Neukölln,Schillerpromenade,52.47897,13.42523,Entire home/apt,69,1,2,2015-08-13,0.03,1,0
2908,7146454,NaN,33994140,Anja,Pankow,Prenzlauer Berg Süd,52.53058,13.42891,Entire home/apt,130,1,1,2015-08-09,0.01,1,0
3119,7554740,NaN,39596341,Niklas,Mitte,Moabit Ost,52.53335,13.34911,Entire home/apt,45,2,4,2016-01-03,0.06,1,0
3147,7593011,NaN,39818582,Henrik,Tempelhof - Schöneberg,Friedenau,52.46530,13.34170,Entire home/apt,40,14,0,NaN,NaN,1,0
3625,8503313,NaN,37542344,Carl,Friedrichshain-Kreuzberg,südliche Luisenstadt,52.49579,13.42707,Private room,40,1,0,NaN,NaN,1,0
3810,9114842,NaN,13417592,Rox,Friedrichshain-Kreuzberg,südliche Luisenstadt,52.49908,13.43381,Entire home/apt,60,1,1,2015-11-29,0.02,1,0
4120,9855780,NaN,14637588,Noemi,Neukölln,Rixdorf,52.47257,13.44278,Entire home/apt,31,2,0,NaN,NaN,1,0
4131,9870480,NaN,50796520,Karsten,Friedrichshain-Kreuzberg,Karl-Marx-Allee-Süd,52.51422,13.42943,Entire home/apt,45,1,0,NaN,NaN,1,0
4274,10115551,NaN,30298694,La,Pankow,Prenzlauer Berg Süd,52.53906,13.42563,Private room,39,1,1,2016-01-01,0.02,1,0
4275,10117666,NaN,51921461,Yakob,Tempelhof - Schöneberg,Tempelhof,52.48447,13.39081,Entire home/apt,90,1,1,2016-01-05,0.02,1,0
4295,10154785,NaN,52118104,Gustavo,Mitte,Tiergarten Süd,52.50563,13.34311,Entire home/apt,49,2,25,2016-12-04,0.41,1,0
4377,10424157,NaN,53687492,NaN,Mitte,Brunnenstr. Süd,52.52973,13.39580,Private room,40,3,0,NaN,NaN,1,122
4488,10826514,NaN,30886037,Sarah,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.50919,13.45277,Private room,35,1,0,NaN,NaN,1,0
4516,10933211,NaN,56683403,Franziska,Neukölln,Britz,52.45973,13.42750,Entire home/apt,39,1,3,2016-02-25,0.05,1,0
4555,11099119,NaN,40411587,Florencia,Friedrichshain-Kreuzberg,nördliche Luisenstadt,52.49870,13.42635,Private room,25,8,0,NaN,NaN,1,0
4627,11268364,NaN,47039426,Antonia,Friedrichshain-Kreuzberg,Tempelhofer Vorstadt,52.48906,13.39515,Private room,28,3,1,2016-09-13,0.02,1,0
4699,11437250,NaN,16994329,NaN,Neukölln,Neuköllner Mitte/Zentrum,52.47151,13.43128,Private room,35,3,0,NaN,NaN,1,0
4788,11603651,NaN,14348964,Julian,Friedrichshain-Kreuzberg,südliche Luisenstadt,52.49284,13.43116,Private room,35,1,1,2016-03-16,0.02,1,0
4945,11974939,NaN,8792609,Christian,Mitte,Parkviertel,52.54772,13.34854,Private room,16,1,1,2016-04-17,0.02,3,0
4951,11995220,NaN,64136102,Tim,Friedrichshain-Kreuzberg,Südliche Friedrichstadt,52.49914,13.40352,Entire home/apt,26,1,0,NaN,NaN,1,0
5005,12110725,NaN,44375747,Luís,Neukölln,Rixdorf,52.47842,13.44032,Private room,30,1,0,NaN,NaN,1,0
6363,16065123,NaN,6199997,Clara,Friedrichshain-Kreuzberg,südliche Luisenstadt,52.49692,13.43897,Entire home/apt,70,14,1,2017-01-05,0.02,1,0
8100,19853003,NaN,140383163,Clementine,Pankow,Prenzlauer Berg Süd,52.53920,13.42466,Private room,35,3,2,2017-08-31,0.05,1,0

#### housing name / title missing for 32 entries. No changes will be made as the 'name' column won´t have an impact on the analysis

In [32]:
df_airbnb_nan2 = df_airbnb[df_airbnb['host_name'].isnull() == True]

In [33]:
df_airbnb_nan2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19,30295,PEACEFUL FLAT WITH VINTAGE TOUCH IN PRENZLAUER...,485838,NaN,Pankow,Helmholtzplatz,52.54597,13.42236,Entire home/apt,124,4,304,2021-02-01,2.38,4,322
22,35152,Private Room w/ own bath in Design Mitte Loft,151248,NaN,Mitte,Brunnenstr. Süd,52.53506,13.39699,Private room,75,2,20,2020-03-07,0.17,1,164
23,36480,ChimaysaberlinB&B Single Bedroom,156897,NaN,Charlottenburg-Wilm.,Otto-Suhr-Allee,52.51968,13.30209,Private room,35,1,48,2019-11-02,0.98,2,365
53,83614,Spacious Prenzlauer Berg Apartment in Quiet St...,456085,NaN,Pankow,Helmholtzplatz,52.54677,13.41894,Entire home/apt,131,1,308,2021-02-19,2.54,2,342
59,89102,Bright loft in the Kastanienallee,485838,NaN,Pankow,Prenzlauer Berg Südwest,52.54053,13.40995,Entire home/apt,129,4,61,2020-07-23,0.51,4,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19824,48521124,Cozy apartment in Berlin + fast internet,104272784,NaN,Pankow,Pankow Süd,52.55624,13.42410,Entire home/apt,25,14,0,NaN,NaN,1,91
19830,48538253,Wunderschönes Altbauzimmer im Herzen Schönebergs,383053122,NaN,Tempelhof - Schöneberg,Friedenau,52.47195,13.32575,Private room,44,1,0,NaN,NaN,1,0
19839,48557086,Penthouse in Berlin Tiergarten mit großer Terr...,47302254,NaN,Mitte,Tiergarten Süd,52.50157,13.35705,Entire home/apt,110,7,0,NaN,NaN,1,86
19849,48581989,Flat + rooftop terrace in Kreuzberg,9826053,NaN,Friedrichshain-Kreuzberg,Südliche Friedrichstadt,52.49751,13.41590,Entire home/apt,65,10,0,NaN,NaN,1,338
19857,48615659,"Schönes, ruhiges Zimmer am Kufürstendamm",258728855,NaN,Charlottenburg-Wilm.,Düsseldorfer Straße,52.49407,13.32443,Private room,22,2,0,NaN,NaN,1,54

#### 'host_name' column shouldn´t have any impact on the analyis, column might be dropped to a later point for data privacy

In [34]:
df_airbnb_nan3 = df_airbnb[df_airbnb['last_review'].isnull() == True]

In [35]:
df_airbnb_nan3

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
67,116057,Apartment near Kudamm (WLAN / WiFi),586511,Thomas,Charlottenburg-Wilm.,Halensee,52.49348,13.29604,Entire home/apt,86,3,0,NaN,NaN,1,363
119,193601,"Well located, cozy 2 rooms apartment, all clos...",939230,Nana M,Pankow,Pankow Süd,52.55522,13.42307,Entire home/apt,75,3,0,NaN,NaN,1,0
128,200125,TOP apartment in art nouveau villa,977942,Rainer,Steglitz - Zehlendorf,Zehlendorf Nord,52.43704,13.22343,Entire home/apt,89,60,0,NaN,NaN,1,365
134,208495,CENTRAL VINTAGE-MODERN FLAT,965569,Coco,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.51275,13.46358,Entire home/apt,150,2,0,NaN,NaN,1,0
166,242908,Holiday Apartment in Berlin Wannsee with balcony,1275359,Henning,Steglitz - Zehlendorf,Zehlendorf Südwest,52.41558,13.16418,Entire home/apt,75,5,0,NaN,NaN,2,277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,48597066,Rollstuhlgeeignete Wohnung für zwei in Hönow M...,392062170,Olaf,Marzahn - Hellersdorf,Hellersdorf-Nord,52.54192,13.60749,Entire home/apt,22,15,0,NaN,NaN,1,88
19854,48599795,Lichtdurchflutete Wohnung,392048619,Mohamed,Tempelhof - Schöneberg,Tempelhof,52.45901,13.41783,Entire home/apt,80,2,0,NaN,NaN,1,161
19855,48600069,Bright Twin Capacity 1 At Mitte,175128252,Team Gospodin,Mitte,Alexanderplatz,52.51105,13.40680,Private room,1840,1,0,NaN,NaN,1,274
19856,48602039,One Room Apartment,235188041,Pedram,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.49805,13.46587,Entire home/apt,25,7,0,NaN,NaN,1,19
19857,48615659,"Schönes, ruhiges Zimmer am Kufürstendamm",258728855,NaN,Charlottenburg-Wilm.,Düsseldorfer Straße,52.49407,13.32443,Private room,22,2,0,NaN,NaN,1,54

#### 'last_review' represent the date of the last review received, keeping the column for now as won´t have an impact on the analysis

In [36]:
df_airbnb_nan4 = df_airbnb[df_airbnb['reviews_per_month'].isnull() == True]

In [37]:
df_airbnb_nan4

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
67,116057,Apartment near Kudamm (WLAN / WiFi),586511,Thomas,Charlottenburg-Wilm.,Halensee,52.49348,13.29604,Entire home/apt,86,3,0,NaN,NaN,1,363
119,193601,"Well located, cozy 2 rooms apartment, all clos...",939230,Nana M,Pankow,Pankow Süd,52.55522,13.42307,Entire home/apt,75,3,0,NaN,NaN,1,0
128,200125,TOP apartment in art nouveau villa,977942,Rainer,Steglitz - Zehlendorf,Zehlendorf Nord,52.43704,13.22343,Entire home/apt,89,60,0,NaN,NaN,1,365
134,208495,CENTRAL VINTAGE-MODERN FLAT,965569,Coco,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.51275,13.46358,Entire home/apt,150,2,0,NaN,NaN,1,0
166,242908,Holiday Apartment in Berlin Wannsee with balcony,1275359,Henning,Steglitz - Zehlendorf,Zehlendorf Südwest,52.41558,13.16418,Entire home/apt,75,5,0,NaN,NaN,2,277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,48597066,Rollstuhlgeeignete Wohnung für zwei in Hönow M...,392062170,Olaf,Marzahn - Hellersdorf,Hellersdorf-Nord,52.54192,13.60749,Entire home/apt,22,15,0,NaN,NaN,1,88
19854,48599795,Lichtdurchflutete Wohnung,392048619,Mohamed,Tempelhof - Schöneberg,Tempelhof,52.45901,13.41783,Entire home/apt,80,2,0,NaN,NaN,1,161
19855,48600069,Bright Twin Capacity 1 At Mitte,175128252,Team Gospodin,Mitte,Alexanderplatz,52.51105,13.40680,Private room,1840,1,0,NaN,NaN,1,274
19856,48602039,One Room Apartment,235188041,Pedram,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.49805,13.46587,Entire home/apt,25,7,0,NaN,NaN,1,19
19857,48615659,"Schönes, ruhiges Zimmer am Kufürstendamm",258728855,NaN,Charlottenburg-Wilm.,Düsseldorfer Straße,52.49407,13.32443,Private room,22,2,0,NaN,NaN,1,54

#### the information 'reviews_per_month´ is based on the column 'number_of_reviews'. Value for this column as NaN is applied when 0 is the 'reviews_per_month' column.

In [40]:
# changing na in the 'reviews_per_month' column with 0
df_airbnb['reviews_per_month'] = df_airbnb['reviews_per_month'].fillna(0)

In [41]:
df_airbnb['reviews_per_month'].isnull().sum()

0

In [42]:
# checking duplicates df_airbnb
df_airbnb_dups = df_airbnb[df_airbnb.duplicated()]

In [43]:
df_airbnb_dups

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

#### No duplicates were found

In [44]:
# saving cleaned data set
df_airbnb.to_csv(os.path.join(path, 'Prepared Data','df_airbnb_clean.csv'))