#### 1. Importing libraries and dataset

In [39]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os
import geopandas as gpd
import geoplot

In [40]:
# Import Airbnb listing dataset
path = r'C:\Users\

In [5]:
import openpyxl

In [41]:
df_airbnb = pd.read_excel(os.path.join(path, 'Prepared Data', 'berlin_cane_cluster.xlsx'))

In [42]:
df_airbnb.head()

,Unnamed: 0,id,host_id,latitude,longitude,price,min_nights,nr_reviews,reviews_per_month,calculated_host_listings_count,availability_365,clusters,cluster
0,0,1944,2164,52.54425,13.39749,20,60,18,0.20,3,251,2,dark purple
1,1,2015,2217,52.53454,13.40256,59,5,135,2.24,6,173,2,dark purple
2,2,3176,3718,52.53500,13.41758,90,62,147,1.03,1,348,2,dark purple
3,3,3309,4108,52.49885,13.34906,29,7,27,0.29,1,364,2,dark purple
4,4,6883,16149,52.51171,13.45477,79,7,135,1.00,1,0,2,dark purple

In [43]:
df_airbnb1 = df_airbnb.drop(columns = ['Unnamed: 0'])

In [44]:
path1 = r'C:\Users\laune\Desktop\6'

In [45]:
path1

'C:\\Users\\laune\\Desktop\\6'

In [46]:
# Import ".json" file for the berlin distict shape outline using the Geopandas `read_csv` command.
berlin = gpd.read_file(os.path.join(path1, 'bezirksgrenzen.shp'))

In [11]:
berlin

,gml_id,Gemeinde_n,Gemeinde_s,Land_name,Land_schlu,Schluessel,geometry
0,s_wfs_alkis_bezirk.F176__1,Reinickendorf,012,Berlin,11,11000012,"POLYGON ((13.32074 52.62660, 13.32104 52.62658..."
1,s_wfs_alkis_bezirk.F176__2,Charlottenburg-Wilmersdorf,004,Berlin,11,11000004,"POLYGON ((13.32111 52.52446, 13.32137 52.52452..."
2,s_wfs_alkis_bezirk.F176__3,Treptow-KÃ¶penick,009,Berlin,11,11000009,"POLYGON ((13.57925 52.39083, 13.57894 52.39078..."
3,s_wfs_alkis_bezirk.F176__4,Pankow,003,Berlin,11,11000003,"MULTIPOLYGON (((13.50481 52.61960, 13.50484 52..."
4,s_wfs_alkis_bezirk.F176__5,NeukÃ¶lln,008,Berlin,11,11000008,"POLYGON ((13.45832 52.48569, 13.45856 52.48552..."
5,s_wfs_alkis_bezirk.F176__6,Lichtenberg,011,Berlin,11,11000011,"POLYGON ((13.52316 52.47424, 13.52289 52.47444..."
6,s_wfs_alkis_bezirk.F176__7,Marzahn-Hellersdorf,010,Berlin,11,11000010,"POLYGON ((13.61317 52.47213, 13.61298 52.47197..."
7,s_wfs_alkis_bezirk.F176__8,Spandau,005,Berlin,11,11000005,"POLYGON ((13.23119 52.56124, 13.23135 52.56112..."
8,s_wfs_alkis_bezirk.F176__9,Steglitz-Zehlendorf,006,Berlin,11,11000006,"POLYGON ((13.31952 52.46699, 13.31984 52.46698..."
9,s_wfs_alkis_bezirk.F176__10,Mitte,001,Berlin,11,11000001,"POLYGON ((13.37721 52.56091, 13.37727 52.56114..."
10,s_wfs_alkis_bezirk.F176__11,Friedrichshain-Kreuzberg,002,Berlin,11,11000002,"POLYGON ((13.45529 52.52127, 13.45621 52.52110..."
11,s_wfs_alkis_bezirk.F176__12,Tempelhof-SchÃ¶neberg,007,Berlin,11,11000007,"POLYGON ((13.38759 52.38677, 13.38755 52.38701..."

In [47]:
# checking data consistency for df_airbnb
df_airbnb1.isnull().sum()

id                                0
host_id                           0
latitude                          0
longitude                         0
price                             0
min_nights                        0
nr_reviews                        0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
clusters                          0
cluster                           0
dtype: int64

In [48]:
df_airbnb1.shape

(19761, 12)

In [49]:
df_airbnb1.describe()

,id,host_id,latitude,longitude,price,min_nights,nr_reviews,reviews_per_month,calculated_host_listings_count,availability_365,clusters
count,1.976100e+04,1.976100e+04,19761.000000,19761.000000,19761.000000,19761.000000,19761.000000,19761.000000,19761.000000,19761.000000,19761.000000
mean,2.427260e+07,8.899084e+07,52.510252,13.404453,67.031426,8.630940,22.005820,0.536768,3.146248,94.556298,1.420424
std,1.419337e+07,1.027044e+08,0.031917,0.062215,66.990482,31.026241,48.131977,1.046122,7.656992,131.826471,0.823710
min,1.944000e+03,1.581000e+03,52.340410,13.098390,11.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1.200488e+07,1.120904e+07,52.489850,13.368170,35.000000,2.000000,1.000000,0.030000,1.000000,0.000000,1.000000
50%,2.316478e+07,4.235549e+07,52.509970,13.414000,50.000000,3.000000,4.000000,0.160000,1.000000,0.000000,2.000000
75%,3.744583e+07,1.378403e+08,52.533090,13.438920,79.000000,5.000000,18.000000,0.560000,2.000000,178.000000,2.000000
max,4.861566e+07,3.920622e+08,52.655980,13.757580,999.000000,1124.000000,618.000000,45.000000,73.000000,365.000000,2.000000

In [50]:
# This command prompts matplotlib visuals to appear in the notebook.

%matplotlib inline

In [51]:
# changing na in the 'reviews_per_month' column with 0
df_airbnb1['reviews_per_month'] = df_airbnb1['reviews_per_month'].fillna(0)

In [53]:
# checking duplicates df_airbnb
df_airbnb_dups = df_airbnb1[df_airbnb.duplicated()]

In [54]:
df_airbnb_dups

Empty DataFrame
Columns: [id, host_id, latitude, longitude, price, min_nights, nr_reviews, reviews_per_month, calculated_host_listings_count, availability_365, clusters, cluster]
Index: []

In [55]:
# checking for possible mixed data types
for col in df_airbnb1.columns.tolist():
      weird = (df_airbnb1[[col]].applymap(type) != df_airbnb1[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df_airbnb1[weird]) > 0:
        print (col)

In [56]:
# creating subset with needed information for the geofile
berlin1 = berlin[['Gemeinde_n', 'Gemeinde_s','geometry']]

In [57]:
berlin1.rename(columns = {'Gemeinde_n': 'area', 'Gemeinde_s': 'area_nr'}, inplace = True)

C:\Users\laune\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [58]:
berlin1

,area,area_nr,geometry
0,Reinickendorf,012,"POLYGON ((13.32074 52.62660, 13.32104 52.62658..."
1,Charlottenburg-Wilmersdorf,004,"POLYGON ((13.32111 52.52446, 13.32137 52.52452..."
2,Treptow-KÃ¶penick,009,"POLYGON ((13.57925 52.39083, 13.57894 52.39078..."
3,Pankow,003,"MULTIPOLYGON (((13.50481 52.61960, 13.50484 52..."
4,NeukÃ¶lln,008,"POLYGON ((13.45832 52.48569, 13.45856 52.48552..."
5,Lichtenberg,011,"POLYGON ((13.52316 52.47424, 13.52289 52.47444..."
6,Marzahn-Hellersdorf,010,"POLYGON ((13.61317 52.47213, 13.61298 52.47197..."
7,Spandau,005,"POLYGON ((13.23119 52.56124, 13.23135 52.56112..."
8,Steglitz-Zehlendorf,006,"POLYGON ((13.31952 52.46699, 13.31984 52.46698..."
9,Mitte,001,"POLYGON ((13.37721 52.56091, 13.37727 52.56114..."
10,Friedrichshain-Kreuzberg,002,"POLYGON ((13.45529 52.52127, 13.45621 52.52110..."
11,Tempelhof-SchÃ¶neberg,007,"POLYGON ((13.38759 52.38677, 13.38755 52.38701..."

In [59]:
# cleaning extreme values for min_nights
df_airbnb1 = df_airbnb[df_airbnb['min_nights'] < 365]

In [60]:
# cleaning extreme values for calculated_host_listings_count
df_airbnb2 = df_airbnb1[df_airbnb1['calculated_host_listings_count'] < 5]

In [61]:
# cleaning extreme values for min_nights
df_airbnb3 = df_airbnb2[df_airbnb2['price'] < 1000]

In [63]:
# dropping rows with 0 reviews as they are inactive users
df_airbnb4 = df_airbnb3.loc[(df_airbnb3['nr_reviews'] >= 1)]

In [64]:
# dropping rows with 0 reviews as they are inactive users
df_airbnb5 = df_airbnb4.loc[(df_airbnb4['reviews_per_month'] < 30)]

In [65]:
df_airbnb5.describe()

,Unnamed: 0,id,host_id,latitude,longitude,price,min_nights,nr_reviews,reviews_per_month,calculated_host_listings_count,availability_365,clusters
count,14160.000000,1.416000e+04,1.416000e+04,14160.000000,14160.000000,14160.000000,14160.000000,14160.000000,14160.000000,14160.000000,14160.000000,14160.000000
mean,8922.820198,2.191896e+07,7.834989e+07,52.509838,13.406142,61.709322,6.668715,25.517020,0.596801,1.296328,78.738771,1.454661
std,5348.979548,1.336744e+07,9.187176e+07,0.031816,0.060642,51.913047,18.364553,50.068974,0.937863,0.666440,122.411427,0.825596
min,0.000000,1.944000e+03,1.581000e+03,52.340410,13.098390,11.000000,1.000000,1.000000,0.010000,1.000000,0.000000,0.000000
25%,4316.500000,1.023976e+07,1.052956e+07,52.488977,13.372447,34.000000,2.000000,2.000000,0.090000,1.000000,0.000000,1.000000
50%,8781.500000,2.099112e+07,3.800834e+07,52.509190,13.416670,50.000000,3.000000,7.000000,0.240000,1.000000,0.000000,2.000000
75%,13367.250000,3.341033e+07,1.190936e+08,52.533113,13.439975,75.000000,4.000000,23.000000,0.670000,1.000000,102.000000,2.000000
max,19755.000000,4.858879e+07,3.897454e+08,52.655980,13.757580,999.000000,356.000000,618.000000,17.170000,4.000000,365.000000,2.000000

In [67]:
df_airbnb5.head()

,Unnamed: 0,id,host_id,latitude,longitude,price,min_nights,nr_reviews,reviews_per_month,calculated_host_listings_count,availability_365,clusters,cluster
0,0,1944,2164,52.54425,13.39749,20,60,18,0.20,3,251,2,dark purple
2,2,3176,3718,52.53500,13.41758,90,62,147,1.03,1,348,2,dark purple
3,3,3309,4108,52.49885,13.34906,29,7,27,0.29,1,364,2,dark purple
4,4,6883,16149,52.51171,13.45477,79,7,135,1.00,1,0,2,dark purple
5,5,7071,17391,52.54316,13.41509,33,1,293,2.08,1,0,2,dark purple

In [ ]:
# Merge both dataframes on the "area" column.

# NB: You need to merge the recipes dataframe INTO the GeoDataFrame; otherwise, the output will be a pandas dataframe rather 
# than a Geopandas dataframe.
berlin_m = berlin1.merge(df_airbnb4, on = 'area', how = 'outer', indicator = True)

In [30]:
berlin_m

,area,area_nr,geometry,id,name,host_id,district,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,_merge
0,Reinickendorf,012,"POLYGON ((13.32074 52.62660, 13.32104 52.62658...",176396.0,Quiet room direct to metro station,843558.0,Ost 2,5257203,1335079.0,Private room,21,1,11.0,0.21,1,0.0,both
1,Reinickendorf,012,"POLYGON ((13.32074 52.62660, 13.32104 52.62658...",245991.0,World stroller's club 2,1290112.0,West 2,5258422,1323114.0,Entire home/apt,25,30,8.0,0.09,2,0.0,both
2,Reinickendorf,012,"POLYGON ((13.32074 52.62660, 13.32104 52.62658...",246007.0,World stroller's club 1,1290112.0,West 2,5258203,1323072.0,Entire home/apt,21,30,6.0,0.06,2,73.0,both
3,Reinickendorf,012,"POLYGON ((13.32074 52.62660, 13.32104 52.62658...",434209.0,Cute In-Law Suite with Garden Access,1262962.0,Nord 2,5259404,1332581.0,Entire home/apt,32,10,41.0,0.38,1,92.0,both
4,Reinickendorf,012,"POLYGON ((13.32074 52.62660, 13.32104 52.62658...",597413.0,Cozy flat,2953733.0,Ost 2,5257206,1335545.0,Private room,29,1,34.0,0.33,3,365.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11792,Tempelhof-SchÃ¶neberg,007,"POLYGON ((13.38759 52.38677, 13.38755 52.38701...",47398887.0,SchÃÂ¶ne und gemÃÂ¼tliches Apartment,143669495.0,Friedenau,5247792,1333671.0,Entire home/apt,55,1,3.0,3.00,2,365.0,both
11793,Tempelhof-SchÃ¶neberg,007,"POLYGON ((13.38759 52.38677, 13.38755 52.38701...",47486110.0,Big happy room in SchÃÂ¶neberg,130402631.0,SchÃÂ¶neberg-SÃÂ¼d,5248924,1335695.0,Private room,32,10,1.0,1.00,2,92.0,both
11794,Tempelhof-SchÃ¶neberg,007,"POLYGON ((13.38759 52.38677, 13.38755 52.38701...",47487436.0,4 rooms- central- favoured area- max 8 p,383320258.0,SchÃÂ¶neberg-Nord,5249868,1335162.0,Entire home/apt,200,1,1.0,0.51,1,0.0,both
11795,Tempelhof-SchÃ¶neberg,007,"POLYGON ((13.38759 52.38677, 13.38755 52.38701...",47765055.0,Zimmer2 nÃÂ¤he Nollendorfplatz und Potsdamer Pl...,384934023.0,SchÃÂ¶neberg-Nord,5249627,1336472.0,Private room,30,1,1.0,1.00,2,90.0,both
11796,Tempelhof-SchÃ¶neberg,007,"POLYGON ((13.38759 52.38677, 13.38755 52.38701...",48326034.0,Spacious apartment with Photostudio- Sauna and...,110176569.0,Tempelhof,5246525,133806.0,Entire home/apt,176,2,2.0,2.00,1,141.0,both

In [31]:
type(berlin_m)

geopandas.geodataframe.GeoDataFrame

In [32]:
berlin_m.shape

(11797, 17)

In [33]:
berlin_m['_merge'].value_counts()

both          11797
left_only         0
right_only        0
Name: _merge, dtype: int64

In [34]:
# Check for missing values.

berlin_m.isnull().sum()

area                               0
area_nr                            0
geometry                           0
id                                10
name                              18
host_id                            9
district                           0
latitude                           0
longitude                          9
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   9
_merge                             0
dtype: int64

In [35]:
# dropping rows with a price per night higher than 1000 euros
berlin_m1 = berlin_m['name'].value_counts(dropna = False)

In [36]:
berlin_m1.isnull().sum()

0

In [37]:
import fiona

In [38]:
berlin_m1.to_excel(os.path.join(path,'Prepared Data','berlin_cane1.xlsx'))